$body-font-family: 'Open Sans', serif;
$font-size-root: 14px;
$font-root-color: #212121;
$toast-border-width: 6px;
$toast-warn-color: #fb8c00;
$toast-success-color: rgba(58, 194, 121, 1);
$toast-error-color: rgb(233, 89, 76);
$toast-info-color: rgb(61, 132, 229);
